@page
@model AppWebRazor.Pages.Dropshipping.WhatlsModel
@{
    ViewData["Title"] = "¿Qué es el Dropshipping?";
}

<h1>¿Qué es el Dropshipping?</h1>
<p>Dropshipping es un modelo de negocio en el que un minorista no mantiene los productos en inventario, sino que transfiere directamente los pedidos del cliente al proveedor, quien envía los productos directamente al cliente. El minorista no necesita gestionar el inventario ni el envío, lo que reduce significativamente los costos de operación.</p>